<div class="container">
    <div class="row">
        <h2>View Funny Memes, Have a good laugh</h2>
		<div class="col-md-8">
			<img src="https://lh6.googleusercontent.com/hyJWXzIQSI78XLnetQG28pV1fNvwh2v8taGZd8lKOWZoWr6KEQbiJQGpba5z6ZqiIN-8fz1BGoy6aOLBeot1BF_dlNp2jGNuVmD8sYmnQ2rzldi2YXO1hs3jN09BUVyYYh3MMlNF">
		</div>		
	</div>
	<br>
	<div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <p> <b id="noOfVisitors">@ViewData["visitors"]</b> <span id="visitorsText"> @ViewData["visitors_txt"] </span> </p>
			</div>
		</div>
	</div>
</div>